body{
    color: #fff;
    .mail{
        text-align: start;
        margin: 0;
        gap:10px;
        justify-content: start;
        align-items: start;
        padding: 0;
        p{
            font-size: 20px;
        }
        p{
            a{
                color: #fff;
                font-size: 20px;
                text-decoration: none;
                border-bottom: solid 1px #d3e97a;
            }
        }
        
    }
    a{
        color: #d3e97a;
        transition: 0.2s ease-in;
        &:hover{
            color: #6c773f;
        }
        
        
    }
    .container{
        .row{
            .col-12{
                form{
                    input,textarea{
                        background-color: #1a1a1a;
                        color: #fff;
                        letter-spacing: 3px;
                        border: none;
                        &:focus,&:active{
                            border: none;
                            outline: none;
                            box-shadow: none;
                        }
                    }
                    textarea{
                        height: 100px;
                    }
                    button{
                        background-color: #d3e97a;
                        font-size: 20px;
                        padding: 10px;
                        border: none;
                        border-radius: 10px;
                        width: 100px;
                        color: black;
                        letter-spacing: 2px;
                        margin-top: 10px;
                        
                    }
                    
                }
            }
        }
    }
    
    
}