@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Exo:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Permanent+Marker&display=swap');
.container{
    font-family: "Exo", sans-serif; ;
    p{
        font-family: "Exo", sans-serif;
        letter-spacing: 1px;
        font-size: 15px;
    }
    h1{
        font-family: "Exo", sans-serif;
        font-size: 50px;
    }
    .project-list{
        h2{
            letter-spacing: 3px;
            
        }
        h6{
            letter-spacing: 3px;
            margin-top: 15px;
        }
        p{
            margin-top: 30px;
        }
        .info{
            margin-top: -10px;
            padding: -5px;
        }
    }

    .project-width{
        height: 100%;
        border-radius: 30px;
        background-color: #2d2d2d;
        transition: 0.3s ease-in-out;

        .project-img{
            padding: 15px;
            border-radius: 30px;
            transition: 0.3s ease-in-out;
            
           
    
    }
    &:hover{
        background-color: #525050;
        .project-img{
            
                margin-top: -20px;
            
        }
        }
    }
    .project-Link{
        color: #d3e97a;
        letter-spacing: 2px;
        text-decoration: none;
        border-bottom: solid 1px #d3e97a;
        padding: 3px;
        transition: 0.2s ease;
        &:hover{
            color: #77920b;
            border-bottom: solid 1px #77920b;
        }
        
    }
    
}